/*ヘッダー装飾*/
header{
    background-color:rgba(34, 130, 255, 0.836);
    padding: 20px;
    text-align: center;
    border-bottom: 8px solid #ffd561;
    margin: 0px;
    margin-bottom: 15px;
}

.input-wrapper{
    padding: 5px;
}

/*入力欄装飾*/
.inners{
    font-size : 18px;
    padding: 10px 14px 14px 10px;
    border-radius: 3px;
    border: 2px solid #3163afc0;
}

/*入力ボックス装飾*/
input{
    padding: 8px;
    outline: unset;
    border: none;
    width: 310px;
    margin: 15px 15px 15px 0px;
}
/*記述消去ボタン*/
#nameClear,#furiganaClear,#postClear,#addressClear,#telClear,#mailClear{
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: rgb(187, 187, 187);
}

/*「必須」の文字の装飾*/
.need{
    background-color:rgb(255, 30, 30);
    padding: 2px 5px;
    border-radius: 6px;
    color: white;
}

/*警告文の装飾*/
#nameAlert,#postAlert,#addressAlert,#telAlert,#mailAlert,#furiganaAlert{
    color:red;
    padding-left:8px;
}

/*非表示のためのクラス*/
.hidden{
    display:none;
}

/*更新ボタン、削除ボタンの装飾*/
#update,#delete{
    background-color:rgba(214, 214, 214, 0.329);
    padding:2px 5px;
    border-radius:6px;
    height:100px;
    width:100px;
    font-size: 18px;
    cursor:pointer;
    margin-right: 60px;
}

/*ポップアップをどうアニメーションするかの指示*/
.popup.show{
    animation: popup-fade-move 3s ease forwards;
}

/*更新ポップアップ*/
.popup {
    position: fixed;/*スクロールしても出現位置が変わらない*/
    bottom: 20px;/*下からの位置*/
    right: 20px;/*右からの位置*/
    background-color: #3fca90c7;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;/*複数の重なり合っている要素の中で最前面に表示*/
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.popup.hide {
    opacity: 0;
    transition: opacity 1s ease;
}

/* 非表示状態 */
.hiddenText {
    opacity: 0;
    pointer-events: none;
}

@keyframes popup-fade-move {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    20% {
      transform: translateY(0px);
      opacity: 1;
    }
    75% {
      transform: translateY(-20px);
      opacity: 0.4;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }